{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Validator</title>
    <link rel="stylesheet" href="{% static 'files_validator/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@latest/dist/axios.min.js"></script>
</head>
<body>

<div>
    <script>
        var file_list = {{ file_list|safe }};
    </script>
    {% csrf_token %}
    {% verbatim %}
    <div id="filehandler" class="m-3">
        <template>
            <h1>
                Moodle files validator
            </h1>
            <p>
                <label for="select-moodle">Moodle validator</label>
                <select id="select-moodle" v-model="selectedValidator" class="custom-select w-25">
                    <option value="" disabled selected>Please select one</option>
                    <option v-for="(option, index) in this.validators"
                            :key="index"
                            :value="option">
                        {{ option }}
                    </option>
                </select>
            </p>
            <div class="row">
                <div class="col">
                    <h2>
                        Files in server
                        <button class="btn btn-outline-danger btn-sm"
                                @click="deleteAllInServer">Delete all files</button>
                    </h2>
                    <p class="mx-3">Drag files here</p>
                    <div id="drop_zone" class="m-3">
                        <div v-if="this.areServerFiles">
                            <ul class="file-holder">
                                <li v-for="(file, index) in this.serverFiles">
                                    {{ file.name }}
                                    <i class="fas fa-trash clickable"
                                       @click="deleteServerFile(index)"></i>
                                </li>
                            </ul>
                        </div>
                        <p v-else>No files in server</p>
                    </div>
                </div>
            </div>

            <div v-if="this.uploading" class="d-inline-block ml-3">
                <i class="fas fa-spinner fa-lg fa-spin"></i>
            </div>

            <ul v-if="this.areErrors">
                <li class="m-2" v-for="error in this.errorMessages">
                    {{ error }}
                </li>
            </ul>

        </template>
    </div>
    {% endverbatim %}

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        new Vue({
            el: '#filehandler',

            data: {
                serverFiles: file_list,
                files: [],
                errorMessages: [],
                uploading: false,
                validators: [],
                selectedValidator: '',
            },
            mounted() {
                const dropZone = document.getElementById('drop_zone');
                if (dropZone) {
                    dropZone.addEventListener('dragover', this.handleDragOver, false);
                    dropZone.addEventListener('drop', this.handleFileSelect, false);
                }
                this.getValidators();
            },
            computed: {
                areFiles() {
                    return this.files.length !== 0;
                },
                areServerFiles() {
                    return this.serverFiles.length !== 0;
                },
                areErrors() {
                    return this.errorMessages.length !== 0;
                },
            },
            methods: {
                handleFileSelect(event) {
                    event.stopPropagation();
                    event.preventDefault();

                    this.uploading = true;
                    const self = this;
                    this.files = [];
                    const promises = [];
                    for (let i=0; i < event.dataTransfer.files.length; i++) {
                        const file = event.dataTransfer.files.item(i);
                        const entry = event.dataTransfer.items[i].webkitGetAsEntry();
                        if (entry.isFile) {
                            this.intruduceFile(file);
                        } else if (entry.isDirectory) {
                            promises.push(new Promise((resolve) => {
                                self.getFilesFromDirectory(entry, resolve);
                            }));
                        }

                    }
                    Promise.all(promises).then(() => {
                        self.upload();
                    });
                },

                getFilesFromDirectory(entry, resolve) {
                    let directoryReader = entry.createReader();
                    const self = this;

                    directoryReader.readEntries(function(entries) {
                        const promises = [];
                        entries.forEach(function(entry) {
                            if (entry.isFile) {
                                promises.push(new Promise((resolve) => {
                                    entry.file(function (file) {
                                        const newName = self.convertPathToServerPath(entry.fullPath);
                                        const fileWithPath = new File([file], newName, {type: file.type});
                                        self.intruduceFile(fileWithPath);
                                        resolve();
                                    });
                                }));
                            }
                        });
                        Promise.all(promises).then(() => {
                            resolve();
                        })
                    });
                },

                intruduceFile(file) {
                    const index = this.indexBy(file.name);
                    if (index === -1) {
                        this.files.push(file);
                    } else {
                        this.files[index] = file;
                    }
                },

                indexBy(name) {
                    for (let i=0; i<this.files.length; i++) {
                        const file = this.files[i];
                        if (file.name === name) {
                            return i;
                        }
                    }
                    return -1;
                },

                getFileName(file) {
                    if (file.fullPath === undefined || file.fullPath === null) {
                        return file.name;
                    }
                    return this.convertPathToServerPath(file.fullPath);
                },

                convertPathToServerPath(name) {
                    if (name[0] === '/') {
                        name = name.substr(1);
                    }
                    return name.replace('/', '#');
                },

                convertServerPathToPath(name) {
                    return name.replace('#', '/');
                },

                handleDragOver(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    event.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
                },

                deleteFile(index) {
                    this.files.splice(index, 1);
                },

                deleteAllFiles() {
                    this.files = [];
                },

                upload() {
                    if (this.areFiles) {
                        const formData = new FormData();
                        for (let i = 0; i < this.files.length; i++) {
                            formData.append('files', this.files[i]);
                        }
                        formData.append('validator', this.selectedValidator);
                        const headers = {
                            'headers': {
                                'X-CSRFToken': getCookie('csrftoken'),
                                'Content-Type': 'multipart/form-data'
                            }
                        };
                        const self = this;

                        axios.post('/upload/', formData, headers)
                            .then(function (response) {
                                self.errorMessages = response.data['errors'];
                            })
                            .catch(function (error) {
                                self.errorMessages = [error];
                            }).finally(function () {
                                self.refreshFilesFromServer();
                                self.uploading = false;
                            });
                    } else {
                        this.errorMessages = ['No files!'];
                    }
                },

                deleteAllInServer() {
                    this.deleteServerFile(null);
                },

                deleteServerFile(index) {
                    const data = {};
                    if (index !== undefined && index !== null) {
                        data['id'] = this.serverFiles[index].id;
                    }
                    const self = this;
                    axios.post('/delete/', data, {'headers': {'X-CSRFToken': getCookie('csrftoken')}})
                        .then(function () {
                            self.refreshFilesFromServer();
                        }).catch(function (error) {
                        self.errorMessages = [error];
                    });
                },

                refreshFilesFromServer() {
                    const self = this;
                    self.serverFiles = [];
                    axios.get('/upload-files/files.json')
                        .then(function (response) {
                            self.serverFiles = response.data.files;
                        }).catch(function (error) {

                    });
                },

                getValidators() {
                    const self = this;
                    axios.get('validators.json')
                        .then(function (response) {
                            self.validators = response.data.validators;
                        })
                }
            }
        });
    </script>

    <style>
        #drop_zone {
            border: 2px dashed #bbb;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 25px;
            color: #bbb;
            height: auto;
        }
        ul.file-holder {
            columns: 3;
        }
        .clickable {
            cursor: pointer;
            color: lightgrey;
        }
        .clickable:hover {
            color: grey;
        }
    </style>
</div>
</body>
</html>
